/*Kindle Fire HDX (800*1280)*/
@media(max-width:900px) {
    .about-wthree-grid h4,
    .ser-sevice-grid h4,
    .table-mid-head h4,
    .counter-wthree-list h6,
    .error-founded h5,
    .clients-ile-img h4 {
        font-size: 22px;
    }
    .table-sub-title h5 {
        font-size: 36px;
    }
    .table-wthree-price {
        padding: 1em 1.2em;
    }
    .page-name h5 {
        font-size: 25px;
        margin-top: -1em;
    }
    .inner_page-banner {
        min-height: 268px;
    }
    .counterindex {
        margin-top: 20em;
    }
    .mt-3,
    .my-3 {
        margin-top: 0rem !important;
    }
    /* nway new add hosting*/
    .webbody1 {}
    .webbody2 {
        height: 400px;
    }
    .ssl {margin: 22px 0px 0px -150px;}
    .businessplan {}
    .wholebody {}
    /*// nway new add hosting*/
    .about-grid-gried {
        width: 75%;
        height: auto;
    }
    .aboutindex {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .hovereffect {
        height: 350px;
    }
    .hovereffect .hovert1 {
        font-size: 14px;
        margin: -15px 0px 0px 20px;
        line-height: 26px;
    }
    .hovereffect .hovert2 {
        font-size: 14px;
        margin: -22px 0px 0px 3px;
        line-height: 26px;
    }
    .hovereffect .hovert3 {
        font-size: 14px;
        margin: -12px 0px 0px 9px;
        line-height: 26px;
    }
    .hovereffect .number1 .overlay {
        top: -96px;
        width: 100%;
        height: 165px;
        margin-left: -16px;
    }
    .hovereffect .number2 .overlay {
        top: -98px;
        width: 100%;
        height: 168px;
        margin-left: -16px;
    }
    .hovereffect .number3 .overlay {
        top: -96px;
        width: 100%;
        height: 165px;
        margin-left: 15px;
    }
    p.webpackages {
        font-size: 17px;
        margin: 10px 0px 0px 175px;
    }
    /* nway new add domain*/
    .domainbody1 {
        margin-bottom: -138px;
    }
    .domainbody2 {
        margin-top: 4em;
    }
    .domainbody3 {
        height: 458px;
    }
    .domain-names {
        padding-right: 362px;
        margin-left: 12em;
    }
    .domain-lists {
        margin-left: 13em;
    }
    .search-web {
        margin-left: 20px;
    }
    .buydomain1 {
        margin-left: -15px;
    }
    .dollar-domain {
        margin-left: -102px;
    }
    .cashdomain {
        margin-left: -83px;
    }
    .contractinformation1{
        font-size: 14px;
    }
    /*// nway new add domain*/
}
/*Kindle Fire HDX (800*1280)*/

@media(max-width:800px) {
    .about-fashion-grid,
    .counter-wthree-list,
    .ser-fashion-grid {
        padding: 1.3em 1.3em;
    }
    .error-founded a {
        padding: 9px 21px;
    }
    .slider-info {
        padding: 14em 0em 8em;
    }
}

/*Ipad size*/
@media(max-width:768px) {
    .about-icon,
    .service-icon {
        width: 57px;
        height: 57px;
    }
    .about-grid-gried{
        height: auto;
    }
    p.sub-w3layouts-title {
        font-size: 14px;
    }
    .table-sub-title h6 {
        font-size: 16px;
    }
    .about-icon span,
    .service-icon span {
        line-height: 53px;
    }
    ul.short_ls li a {
        font-size: 18px;
    }
    .page-name h5 {
        font-size: 35px;
    }
    /*.col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 33%;
    }*/
    /*.aboutindex {
        height: 70%;
    }*/
    .counterindex {
        margin-top: 25em;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        /*height: 175px;*/
    }
    /* nway new add hosting*/
    .webbody1 {
        margin-bottom: 166px;
    }
    .webbody2 {}
    .businesstext1 {
        padding-top: 100px;
    }
    .businesstext {
        margin-bottom: -32px;
    }
    .wholebody {
        margin-bottom: 192px;
    }
    .ssl {
        margin: 22px 0px 0px -150px;
    }
    .businessplan {}
    /*// nway new add hosting*/
    .domain-names{
        margin: 4px 0px 0px -50px;
    }
    .domain-lists{
       margin: -175px 0px 0px 335px;
    }
    .domainbody1{
        height: auto;
    }
    .aboutindex {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .hovereffect {
        height: 350px;
    }
    .hovereffect .hovert1 {
        font-size: 14px;
        margin: -15px 0px 0px 20px;
        line-height: 26px;
    }
    .hovereffect .hovert2 {
        font-size: 14px;
        margin: -22px 0px 0px 3px;
        line-height: 26px;
    }
    .hovereffect .hovert3 {
        font-size: 14px;
        margin: -12px 0px 0px 9px;
        line-height: 26px;
    }
    .hovereffect .number1 .overlay {
        top: -96px;
        width: 100%;
        height: 165px;
        margin-left: -16px;
    }
    .hovereffect .number2 .overlay {
        top: -98px;
        width: 100%;
        height: 168px;
        margin-left: -16px;
    }
    .hovereffect .number3 .overlay {
        top: -96px;
        width: 100%;
        height: 165px;
        margin-left: 15px;
    }
}

@media(max-width:767px) {
    .slider-info h5 {
        font-size: 1.9em;
    }
    .banner-two-grid {
        margin-top: 20px;
    }
    h3.title {
        font-size: 30px;
    }
    .footer-titles {
        text-align: center;
    }
    .error_page-w3layouts h4 {
        font-size: 7.5em;
    }
    .address_mail_footer_grids {
        margin-top: 20px;
    }
    .address_mail_footer_grids iframe {
        height: 16em;
    }
    /* nway new add hosting*/
    .webbody1 {}
    .webbody2 {}
    .ssl {}
    .businessplan {}
    .wholebody {}
    /*// nway new add hosting*/
}

@media(max-width:736px) {
    .outs_more-buttn a {
        padding: 8px 9px;
    }
    .slider-info {
        padding: 13em 0em 7em;
    }
    .about-icon span,
    .service-icon span {
        font-size: 23px;
    }
    .about-wthree-grid h4,
    .ser-sevice-grid h4,
    .table-mid-head h4,
    .counter-wthree-list h6,
    .error-founded h5,
    .clients-ile-img h4 {
        font-size: 21px;
    }
    .table-sub-title h5 {
        font-size: 34px;
    }
    .page-name h5 {
        font-size: 30px;
        margin-top: -1em;
    }
    .inner_page-banner {
        min-height: 246px;
    }
}

@media(max-width:667px) {
    .footer-titles h2 a {
        font-size: 25px;
    }
    .search-w3layouts input[type="search"] {
        padding: 8px 15px;
    }
    ul.short_ls li a {
        font-size: 17px;
    }
    .counter-wthree-list h4 {
        font-size: 23px;
    }
    .contact-forms textarea {
        height: 9em;
    }
}

@media(max-width:640px) {
    .about-icon,
    .service-icon {
        width: 54px;
        height: 54px;
    }
    .about-icon span,
    .service-icon span {
        line-height: 50px;
    }
    .error_page-w3layouts h4 {
        font-size: 7em;
    }
    .error-founded a {
        padding: 9px 19px;
    }
}

@media(max-width:600px) {
    .slider-info h5 {
        font-size: 1.7em;
    }
    .footer-titles p,
    .footer-titles p a,
    ul.bottom-menu li a {
        font-size: 14px;
        line-height: 21px;
    }
    .page-name h5 {
        font-size: 58px;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .6em .7em;
        font-size: 13px;
    }
}

@media(max-width:568px) {
    .headder-top {
        padding: 1em 1em;
    }
    .service-icon {
        margin-bottom: 20px;
    }
    .price-price,
    .about-grid-gried,
    .counter-list-grid,
    .team-our-wthree {
        width: 50%;
    }
    .slider-info {
        text-align: center;
    }
    .table-sub-title h6 {
        font-size: 15px;
    }
    .gallery-img-grid {
        width: 73%;
        margin: 0px auto;
    }
    .address_mail_footer_grids iframe {
        height: 14em;
    }
    .slider-info {
        padding: 12em 0em 6em;
    }
}

@media(max-width:480px) {
    .popup {
        max-width: 386px;
        margin: 10em auto;
    }
    #logo a {
        font-size: 27px;
    }
    h3.title {
        font-size: 28px;
    }
    .bottom-footer p {
        letter-spacing: 1px;
    }
    .footer-titles h2 a {
        font-size: 24px;
    }
    .footer-titles h4 {
        font-size: 17px;
    }
    .page-name h5 {
        font-size: 55px;
    }
    .counter-wthree-list h4 {
        font-size: 22px;
    }
    .gallery-img-grid {
        width: 88%;
    }
    .error_page-w3layouts h4 {
        font-size: 6.5em;
    }
}

@media(max-width:440px) {
    .price-price,
    .about-grid-gried,
    .counter-list-grid,
    .team-our-wthree {
        width: 61%;
        margin: 0px auto;
    }
    .about-wthree-grid h4,
    .ser-sevice-grid h4,
    .table-mid-head h4,
    .counter-wthree-list h6,
    .error-founded h5,
    .clients-ile-img h4 {
        font-size: 20px;
    }
    .table-sub-title h5 {
        font-size: 33px;
    }
    .page-name h5 {
        font-size: 52px;
    }
    .address_mail_footer_grids iframe {
        height: 12em;
    }
    .about-grid-gried {
        width: 75%;
        height: 175px;
    }
    .aboutindex {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .hovereffect {
        height: 350px;
    }
    .hovereffect .hovert1 {
        font-size: 14px;
        margin: -15px 0px 0px 20px;
        line-height: 26px;
    }
    .hovereffect .hovert2 {
        font-size: 14px;
        margin: -22px 0px 0px 3px;
        line-height: 26px;
    }
    .hovereffect .hovert3 {
        font-size: 14px;
        margin: -12px 0px 0px 9px;
        line-height: 26px;
    }
    .hovereffect .number1 .overlay {
        top: -96px;
        width: 100%;
        height: 165px;
        margin-left: -16px;
    }
    .hovereffect .number2 .overlay {
        top: -98px;
        width: 100%;
        height: 168px;
        margin-left: -16px;
    }
    .hovereffect .number3 .overlay {
        top: -96px;
        width: 100%;
        height: 165px;
        margin-left: 15px;
    }
}

@media(max-width:414px) {
    body{
        overflow-x: hidden;
    }
    .search i {
        top: 16%;
        left: 13.5%;
    }
    .popup {
        max-width: 342px;
        height: 325px;
    }
    .slider-info h5 {
        font-size: 1.6em;
    }
    .slider-info p {
        line-height: 24px;
    }
    .price-price,
    .counter-list-grid,
    .team-our-wthree {
        width: 64%;
    }
    .about-fashion-grid{
        margin-top: 2em;
    }
    .about-grid-gried {
        width: 75%;
        /*height: auto;*/
    }
    .about-grid-index {
        width: 30px;
    }
    .aboutindex {
        width: 100%;
        /*height: 100%;*/
        /*95%*/
    }
    .box col-lg-4 col-md-8 col-sm-8 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .hovereffect {
        height: 20px;
    }
    .packages {
        width: 100%;
    }
    .page-name h5 {
        font-size: 20px;
        margin-top: -2em;
    }
    .inner_page-banner {
        min-height: 227px;
    }
    .gallery-img-grid {
        width: 100%;
    }
    .error_page-w3layouts h4 {
        font-size: 6em;
    }
    .slider-info {
        padding: 11em 0em 4em;
    }
    h5.own-email {
        font-size: 17px;
        margin: 3px 0px 0px 45px;
    }
    p.webpackages {
        font-size: 17px;
        margin: 3px 0px 0px 24px;
    }
    .photo {
        padding: 20px 17px 99px 126px;
    }
    .girl {
        margin-top: -110px;
        margin-right: 21px;
    }
    .bubble {
        padding: 0px 0px 152px 0px;
        margin-top: 50px;
    }
    .row1 {
        height: 1000px;
    }
    .hovereffect {
        height: auto;
        margin-top: -6em;
    }
    .counterindex {
        margin-top: 83em;
    }
    .bagan {
        width: 100%;
        margin-top: 45px;
    }
    .service {
        margin-top: 3em;
    }
    .col-lg-6,
    .col-md-7 {
        height: auto;
    }
    .service-grid-wthree .mt-lg-5,
    .mt-md-4,
    {
        width: 90%;
        height: 150%;
    }
    .my-3 .about-grid-gried {
        width: 90%;
        height: 200px;
    }
    .col-lg-2,
    .col-md-3,
    .col-sm-2,
    .service-jst-icon {
        height: 53px;
        margin-top: -2em;
    }
    .ser-sevice-grid p {padding: 4px 0px 0px 90px;}
    .email-info {
        margin-left: -3em;
    }
    .e-server {
        width: 150%;
        margin-left: -3em;
    }
    .email-green {
        margin: 0 auto;
    }
    .contact-forms input,
    .contact-forms textarea {
        margin-top: 3em;
    }
    .hovereffect .hovert1 {
        font-size: 10px;
        margin: -15px 0px 0px 20px;
        line-height: 20px;
    }
    .hovereffect .hovert2 {
        font-size: 10px;
        margin: -19px 0px 0px 2px;
        line-height: 20px;
    }
    .hovereffect .hovert3 {
        font-size: 10px;
        margin: -15px 0px 0px 20px;
        line-height: 17px;
    }
    .hovereffect .number1 .overlay {
        top: -74px;
        width: 100%;
        height: 137px;
        margin-left: -16px;
    }
    .hovereffect .number2 .overlay {
        top: -67px;
        width: 100%;
        height: 137px;
        margin-left: -16px;
    }
    .hovereffect .number3 .overlay {
        top: -55px;
        width: 100%;
        height: 125px;
        margin-left: 15px;
    }
    /* nway new add domain*/
    .domainbody1 {
        margin-bottom: 0px;
    }
    .domainbody2 {
        margin-bottom: 452px;
    }
    .domainbody3 {margin-bottom: 27em;
margin-top: -12em;}
    .domain-names {
        width: 700px;
        margin: 0 auto;
        padding-left: 1px;}
    .domain-lists {
        margin: 33px;
        padding: 0;}
    .contractinformation {
        padding-top: 75px;
    }
    .contractinformation1 {
        font-size: 14px;
        padding: 0;
        margin: 4em;
    }
    .search-web {}
    .buydomain1 {margin: 0 auto;}
    .dollar-domain {}
    .cashdomain {}
    /*// nway new add domain*/
    .web-hosting {
        width: 100%;
        padding-bottom: 100px;
    }
    .webbody2 {
        margin-top: 22em;
        height: 750px;
    }
    .ssl{
        margin-left: -105px;
    }
    .wholebody{
        margin-bottom: 47em;
    }
    .cpanel-domain {
        padding: 0;
        width: 205px;
        margin: 50px 0px 0px 60px;
    }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
    .about-grid-gried {
        width: 75%;
    }
    .about-grid-index {
        width: 30px;
    }
    .aboutindex {
        width: 100%;
    }
    .hovereffect .hovert1 {
        font-size: 11px;
        margin: -15px 0px 0px 20px;
        line-height: 22px;
    }
    .hovereffect .hovert2 {
        font-size: 11px;
        margin: -19px 0px 0px 2px;
        line-height: 22px;
    }
    .hovereffect .hovert3 {
        font-size: 11px;
        margin: -6px 0px 0px 20px;
        line-height: 20px;
    }
    .hovereffect .number1 .overlay {
        top: -98px;
        width: 100%;
        height: 167px;
        margin-left: -16px;
    }
    .hovereffect .number2 .overlay {
        top: -90px;
        width: 100%;
        height: 160px;
        margin-left: -16px;
    }
    .hovereffect .number3 .overlay {
        top: -75px;
        width: 100%;
        height: 145px;
        margin-left: 15px;
    }
}

@media(max-width:384px) {
    .price-price,
    .about-grid-gried,
    .counter-list-grid,
    .team-our-wthree {
        width: 73%;
    }
    .popup {
        margin: 11em auto;
    } 
}

@media(max-width:375px) {
    .popup {
        max-width: 314px;
    }
    .footer-titles h2 a {
        font-size: 23px;
    }
    .about-fashion-grid,
    .counter-wthree-list,
    .ser-fashion-grid {
        padding: 1.1em 1.1em;
    }
    .about-icon,
    .service-icon {
        width: 52px;
        height: 52px;
    }
    .about-icon span,
    .service-icon span {
        line-height: 48px;
    }
    ul.short_ls li a {
        font-size: 16px;
    }
    .error_page-w3layouts h4 {
        font-size: 5.5em;
    }
}

@media(max-width:320px) {
    .popup {
        max-width: 276px;
        margin: 12em auto;
    }
    .toggle {
        padding: 4px 10px;
    }
    .slider-info h5 {
        font-size: 1.5em;
    }
    .price-price,
    .about-grid-gried,
    .counter-list-grid,
    .team-our-wthree {
        width: 84%;
    }
}

/*--meadia quiries start here--*/
@media(max-width:1440px) {
    .search i {
        left: 29.2%;
    }
    .s-bar {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .s-bar {
        width: 50%;
    }
    .search i {
        left: 25.2%;
    }
    .copyright {
        margin: 13em 0em 4.1em 0em;
    }
}

/*Galaxy S9,S9+ (360*740)*/
@media(max-width:768px) {
    .copyright {
        margin: 21em 0em 7.2em 0em;
    }
    .search {
        margin: 22em 0em 0em 0em;
    }
    .s-bar {
        width: 58%;
    }
    .search i {
        left: 19.5%;
    }
    .s-bar input[type="text"] {
        width: 67%;
    }
    .copyright p {
        font-size: 0.9em;
    }
    .hovereffect {
        /*height: auto;
        margin-top: -6em;*/
    }
    .cash {
        margin-left: -2em;
    }
    .website {
        margin-left: -4em;
    }
    .gmap {
        margin-left: 2em;
    }
    .hovereffect .overlay {
        /* top: -53px;*/
    }
    .number1 {
        font-size: 8px;
    }
    .number2 {
        font-size: 8px;
    }
    .number3 {
        font-size: 8px;
    }
}

@media(max-width:667px) {
    .search i {
        left: 18.5%;
    }
}

@media(max-width:640px) {
    .s-bar {
        width: 65%;
    }
    .search i {
        left: 15.5%;
    }
}

@media(max-width:600px) {
    .search i {
        left: 14.5%;
    }
}

@media(max-width:568px) {
    .s-bar input[type="text"] {
        width: 64%;
    }
}

@media(max-width:480px) {
    .s-bar input[type="text"] {
        width: 55%;
        font-size: 0.8em;
    }
    .s-bar input[type="submit"] {
        width: 30%;
        font-size: 0.8em;
    }
    .search i {
        top: 17%;
    }
}

@media(max-width:320px) {
    .copyright {
        margin: 10.45em 0em 3em 0em;
    }
    .copyright p {
        font-size: 0.8em;
    }
    .copyright p {
        font-size: 0.8em;
    }
    .search {
        margin: 11.25em 0em 0em 0em;
    }
    .s-bar {
        width: 100%;
    }
    .search i {
        left: 43%;
        top: -36%;
    }
    .search p {
        font-size: 0.72em;
    }
    .s-bar input[type="submit"] {
        text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, rgba(80, 80, 80, 0.07) 2px 2px, rgba(80, 80, 80, 0.09) 3px 3px, rgba(80, 80, 80, 0.04) 4px 4px, rgba(80, 80, 80, 0.06) 5px 5px;
    }
}
/*--meadia quiries end here--*/


/* Media Queries
--------------------------------------------- */
@media all and (max-width: 991px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        margin: 0;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }
    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        text-decoration: none;
        border: none;
        float: right;
        color: #000;
        font-weight: 500;
        letter-spacing: 1px;
        border: 1px solid #000;
        margin-bottom: 0;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        max-width: 120px;
        padding: 5px;
        font-size: 14px;
        letter-spacing: .5px;
        color: #fff;
        font-weight: 400;
        border: none;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        background: #bbbaba;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }
    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }
    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #fff;
        /* has to be the same number as the "line-height" of "nav a" */
    }
    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }
    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav ul ul li a {
        color: #fff;
        font-size: 15px;
        padding: 0;
    }
}

@media(max-width:1050px) {
    .footer-titles h2 a {
        font-size: 29px;
    }
    .footer-titles h4 {
        font-size: 18px;
    }
    .page-name h5 {
        font-size: 86px;
    }
}

@media(max-width:1024px) {
    .about-icon span,
    .service-icon span {
        font-size: 25px;
    }
    .about-icon,
    .service-icon {
        width: 60px;
        height: 60px;
    }
    .social-icons ul li {
        width: 28px;
        height: 28px;
    }
    .social-icons ul li a span {
        line-height: 28px;
    }
    .contact-forms textarea {
        height: 10em;
    }
    .address_mail_footer_grids iframe {
        height: 20em;
    }
    .sent-butnn {
        padding: 6px 20px;
    }
    .slider-info {
        padding: 13.5em 0em 8.5em;
    }
}

@media(max-width:991px) {
    .slider-info h5 {
        font-size: 2em;
    }
    h3.title {
        font-size: 32px;
    }
    .footer-titles h2 a {
        font-size: 27px;
    }
    .newsletter input[type="email"] {
        width: 80%;
    }
    #logo a {
        font-size: 28px;
    }
    .counter-wthree-list h4 {
        font-size: 24px;
    }
    .inner_page-banner {
        min-height: 280px;
    }
    .page-name h5 {
        font-size: 82px;
    }
    .error_page-w3layouts h4 {
        font-size: 8em;
    }
    .slider-info {
        padding: 14.5em 0em 8.5em;
    }
}

@media(max-width:1080px) {
    .about-wthree-grid h4,
    .ser-sevice-grid h4,
    .table-mid-head h4,
    .counter-wthree-list h6,
    .error-founded h5,
    .clients-ile-img h4 {
        font-size: 23px;
    }
    .about-fashion-grid,
    .counter-wthree-list,
    .ser-fashion-grid {
        padding: 1.6em 1.5em;
    }
    h3.title {
        font-size: 35px;
    }
    .table-sub-title h5 {
        font-size: 38px;
    }
    .slider-info p {
        font-size: 14px;
    }
    .counter-wthree-list h4 {
        font-size: 26px;
    }
    .error_page-w3layouts h4 {
        font-size: 8.5em;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .7em .7em;
    }
}

@media(max-width:1366px) {
    #logo a {
        font-size: 30px;
    }
    .about-fashion-grid,
    .counter-wthree-list,
    .ser-fashion-grid {
        padding: 1.8em 1.7em;
    }
    .about-icon,
    .service-icon {
        border: 2px solid #60e1bd;
        width: 63px;
        height: 63px;
    }
    .newsletter input[type="email"] {
        padding: 6px 15px;
    }
    button.btn1 {
        padding: 6px 0;
    }
    .counter-wthree-list h4 {
        font-size: 28px;
    }
    .error-founded a {
        padding: 11px 26px;
    }
    .contact-forms textarea {
        height: 11em;
    }
    .address_mail_footer_grids iframe {
        height: 21.5em;
    }
}


/*TTA pc*/
@media(max-width:1280px) {
    .copyright {
        margin: 13em 0em 4em 0em;
    }
    .s-bar input[type="text"] {
        width: 63%;
    }
    .search i {
        left: 5.2%;
    }
    .slider-info {
        padding: 17em 0em 10em;
    }
    .search-w3layouts input[type="search"] {
        padding: 10px 15px;
    }
    .search-w3layouts button {
        padding: 8px 15px;
    }
    p.sub-w3layouts-title {
        font-size: 15px;
    }
    .table-sub-title h6 {
        font-size: 17px;
    }
    .page-name h5 {
        font-size: 30px;
    }
    .page-name {
        padding: 4em 0em 0em;
    }
    .inner_page-banner {
        min-height: 344px;
    }
    .error-founded a {
        padding: 10px 24px;
    }
    .sent-butnn {
        font-size: 15px;
    }
    /* nway new add hosting*/
    .webbody1 {}
    .webbody2 {}
    .ssl {
        padding: 0px 0px 0px 175px;
    }
    .businessplan {}
    .wholebody {}
    /* nway new add hosting*/
    /* nway new add domain*/
    .d-pt{
        font-size: 14px;
        margin: -42px 0px -12px 35px;
    }
    .domainbody1 {
        margin-bottom: -50px;
    }
    .domainbody2 {
        height: 350px;
    }
    .buydomain1{
        font-size: 14px;
        padding: 7px 5px 0px 42px;
        line-height: 30px;
    }
    .domain-names {
       /* width: 545px;*/
    }
    /* nway new add domain*/
}
/*//TTA pc*/

@media(max-width:1440px) {
    .popup {
        margin: 9em auto;
    }
    .slider-info {
        padding: 19em 0em 13em;
    }
    .slider-info h5 {
        font-size: 2.2em;
    }
    .about-icon span,
    .service-icon span {
        font-size: 27px;
    }
    h3.title {
        font-size: 32px;
    }
    .table-sub-title h5 {
        font-size: 40px;
    }
    .footer-titles h2 a {
        font-size: 31px;
    }
    .page-name h5 {
        font-size: 26px;
    }
    .inner_page-banner {
        min-height: 357px;
    }
    .page-name {
        padding: 3.5em 0em 0em;
    }
    .error_page-w3layouts h4 {
        font-size: 9em;
    }
    .contact-forms input,
    .contact-forms textarea {
        padding: .8em .7em;
    }
    /* nway new add hosting*/
    .webbody1 {}
    .webbody2 {}
    .ssl {}
    .businessplan {}
    .wholebody {}
    /*// nway new add hosting*/
}

@media (min-width: 568px) {
    .popup .content {
        min-height: inherit;
    }
    .popup .content .container {
        padding: 50px 20px 80px;
    }
    .photo {
        padding-right: 9em;
        margin-top: -18em;
    }
    .girl {
        width: 195px;
        /*float: left;*/
    }
    .bubble {
        width: 92%;
    }
}

@media (min-width: 768px) {
    .popup .content .container {
        padding: 70px 0px 90px;
        max-width: 520px;
        margin: 0 auto;
    }
    .popup .content .circles .circle:nth-of-type(1) {
        top: -190px;
        right: -190px;
        width: 380px;
        height: 380px;
    }
    .popup .content .subscribe form input[type=email],
    [type=password] {
        margin-bottom: 50px;
        width: 100%;
        height: 43px;
        /*padding: 0px 0px 0px 170px;*/
        text-align: center;
    }
    .popup .content .subscribe form input[type=submit] {
        width: 25%;
        height: 43px;
    }
    .popup {
        width: calc(100% - 40px);
        height: auto;
        max-width: 900px;
    }
}

/*nway added new media*/
@media(max-width:360px) {
    /* nway new add domain*/
    .domainbody1 {
        margin-bottom: 0px;
    }
    .domainbody2 {
        margin-bottom: 255px;
    }
    .domain-names {width: 645px;margin: 0 auto;padding-left: 30px;}
    .domainbody3 {margin-bottom: 33em;margin-top: -10em;}
    .buydomain {
        padding-top: 10em;
        font-size: 18px;
    }
    .domain-lists {
        margin: 0 auto;
        padding-top: 3em;
        width: 300px;}
    .contractinformation {
        padding-top: 21px;
        font-size: 14px;
        margin-top: -34px;
    }
    .contractinformation1 {
        font-size: 14px;
        padding: 0;
    }
    .search-web {}
    .buydomain1 {
        font-size: 14px;
        padding: 0;
        margin: 0 auto;}
    .dollar-domain {}
    .cashdomain {}
    .cpanel-domain {
        padding: 0;
        width: 205px;
        margin: 50px 0px 0px 60px;
    }
    /*// nway new add domain*/
}
/*// nway added new media*/

